/* Common Css Section Start */
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* Common Css Section End */

/* Nav Section Css Start */
#primary_nav{
    background-color: #02918c;
}

#primary_nav #menu ul li a{
    color: #ffffff;
    font-size: 12px;
    font-weight: 800px;
    text-transform: uppercase;
    padding: 13.5px 25px;
    display: inline-block;
}
/* Nav Section End */

/* Banner Section Start */
#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./../img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #ffffff ;
}

#banner h4{
    font-size: 30px;
    font-weight: 400;
}

#banner h1{
    font-size: 68px;
    font-weight: 800;
    letter-spacing: 30px;
    text-transform: uppercase;
}

#banner p{
    font-size: 18px;

}

#banner img{
    margin: 52px 0;
}

#banner a{
    margin: 25px;
    font-weight: bold;
    color: black;
    background-color: #cfc91d;
    padding: 14px 42px;
    text-transform: uppercase;
}

#banner a:hover{
   color: #02918b;
}

@media only screen and (max-width:575px) {
    #banner{
        width: 100%;
    }
    #banner h1{
        font-size: 30px;
        letter-spacing: 0;
    }
}

/* Banner Section End */

/* About Section Css Start */

#about .heading h2{
   font-size: 46px;
   font-weight: 800;
   text-transform: uppercase;
   color: #02918c;
}
#about .heading p{
    font-size: 16px;
    line-height: 41px;
    color: #7e8287;
}

#about{
    padding: 98px 0;
}

#about .about-cards{
    margin: 70px 0;
}

#about .about-card{
    border-right: 1px solid #7e8287;
}

#about .about-card h4,p{
    color: #7e8287;
}

#about .about-card p{
    padding: 28px 0;
}

#about .about-card img{
    padding: 30px 0;
}

#about .about-card:nth-child(4) {
    border: none;
}
/* About Section Css End */